* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.counter {
    font-size: 8rem;
    color: #fff;
}

.background {
    position: fixed;
    top: -30px;
    left: -30px0;
    width: 130vw;
    height: 130vh;
    z-index: -1;
    background-image: url('./raspberry.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(30px);
}