* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    position: fixed;
    z-index: 100;
    background-color: crimson;
    width: 200px;
    height: 200px;
    top: -100px;
    left: -100px;
    border-radius: 50%;
    transition: transform 0.5s ease;
    
    &__close, &__open {
        position: absolute;
        color: #fff;
        font-size: 1.6rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    
    &__close {
        left: 40px;
        bottom: 40px;
    }
    
    &__open {
        right: 40px;
        bottom: 40px;
    }
    
    &--active {
        transform: rotate(-90deg);
    }
}

.navigation-side {
    position: fixed;
    left: -220px;
    bottom: 50px;
    font-size: 2rem;
    color: #fff;
    transition: all 0.5s ease;

    &__items {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item {
        margin-bottom: 20px;
        &:nth-of-type(1) {
            transform: translateX(0);
            transition: transform 0.5s ease 0.1s;
        }

        &:nth-of-type(2) {
            transform: translateX(0);
            transition: transform 0.5s ease 0.2s;
        }

        &:nth-of-type(3) {
            transform: translateX(0);
            transition: transform 0.5s ease 0.3s;
        }

        i {
            margin-right: 10px;
        }
    }

    &--active {
        .navigation-side__item  {
            &:nth-of-type(1) {
                transform: translateX(250px);
            }
    
            &:nth-of-type(2) {
                transform: translateX(270px);
            }
    
            &:nth-of-type(3) {
                transform: translateX(290px);
            }
        }    
    }
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    transform-origin: top left;
    transition: all 0.7s ease 0.2s;
    
    &--active {
        transform: rotate(-20deg);
    }

    &__container {
        width: 100%;
        max-width: 1200px;
        margin: 50px auto;
        padding: 20px;
    }

    &__header {
        font-size: 2rem;
        font-weight: 100;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }

    &__author {
        display: block;
        text-transform: uppercase;
        margin: 10px auto;
        text-align: center;
    }

    &__paragraph {
        font-size: 1.2rem;
        line-height: 1.5;
        margin: 10px auto;
    }

    &__description {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 100;
        margin: 10px auto;
    }

    &__img {
        width: 100%;
    }
}