:root {
  --very-dark-blue: #00f; 
  --dark-blue: #2b88f0;
  --light-blue: #6ab3f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, Helvetica, sans-serif;
  background-color: var(--dark-blue);
  color: #fff;
  width: 100%;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  padding: 20px 10px;
  /* background-color: green; */
  text-align: center;
}

.header {
  margin: 10px 0;
}

.goal {
  margin: 10px 0;
}

.glass {
  color: black;
  margin: 30px auto;
  width: 160px;
  height: 320px;
  background-color: #fff;
  border: 4px solid var(--very-dark-blue);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}

.glasses-container {
  margin: 20px auto;
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 320px;
}

.glass-small {
  background-color: #fff;
  margin: 10px;
  width: 60px;
  height: 120px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.glass-small:hover.active {
  background-color: var(--light-blue);
  color: #fff;
}

.glass-big {
  display: flex;
  flex-direction: column;
  position: relative;
}

.empty {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: var(--dark-blue);
}

.empty h3 {
  letter-spacing: 2px;
}

.not-empty {
  background-color: var(--light-blue);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 80%;  
}

.not-empty p {
  font-size: 1.4rem;
  color: var(--very-dark-blue);
}

.select {
  font-size: 1rem;
}